
/* Your CSS Code here. */

/* Your CSS Code here. */
.holder>div{
	height: 80px;
	width:80px;
	font-size: 32px;
	font-weight: 600;
}
.red{
	background:red;
}
.green{
	background: green;
}
.blue{
	background: blue;
}
.holder{
	display:flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}
